.rightBoxCtn {
  padding: 50px 0;
  z-index: 200;

  .titleBox {
    padding: 0 20px;
    margin-bottom: 50px;

    .title {
      width: 360px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .backBtn {
        cursor: pointer;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          margin: 0;
          margin-left: 12px;
          line-height: 30px;
          font-size: 20px;
          font-family: 'via_Futura_700';
        }

        span {
          margin: 0;
          margin-right: 10px;
        }
      }

    }

    .info {
      margin-top: 35px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      p {
        margin: 0;
        margin-left: 10px;
      }

      .textIcon {
        width: 18px;
        height: 18px;
        font-family: 'via_Futura_700';
        text-align: center;
        line-height: 18px;

      }

      .textIconBg {
        width: 18px;
        height: 18px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        background-color: #f00;
        line-height: 18px;

      }
    }

  }

  .ctnBox {
    width: 100%;
    overflow: hidden;

    .activityOption {
      margin: 0 auto;
      width: 360px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .explain {
        display: flex;
        align-items: center;

        p {
          margin: 0;
          margin-left: 5px;
        }

        span {
          width: 10px;
          height: 10px;
          display: block;
          border-radius: 100%;
        }

        .team {
          background: #F2F2F2;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        }

        .vendor {
          margin-left: 30px;
          background: rgba(204, 255, 0, 0.7);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        }

      }
    }

    .activityBox {
      margin: 0 20px;
      margin-top: 30px;
      width: 360px;
      height: calc(100vh - 280px);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      overflow-y: auto;
      overflow-x: hidden;
      flex-direction: row-reverse;


      .info {
        width: 272px;
        display: flex;
        flex-direction: column;
        position: relative;

        .line {
          top: 0;
          left: -87px;
          height: 100%;
          width: 70px;
          position: absolute;
          background-repeat: repeat-y;
          background-position: center;

        }

        .item {
          width: 272px;
          margin-bottom: 10px;
          padding: 12px;
          position: relative;
          background: rgba(0, 0, 0, .05);

          .title {
            display: flex;
            align-items: center;

            span {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0;
              width: 18px;
              height: 18px;
              color: #ffffff;
              font-size: 12px;
              line-height: 18px;
              border-radius: 100%;
            }

            h3 {
              margin: 0;
              margin-left: 5px;
            }
          }

          p {
            margin: 0;
            margin-top: 10px;
            font-size: 12px;
            line-height: 14px;
            color: rgba(0, 0, 0, .5);
            text-align: left;
          }

          .time {
            top: 50%;
            margin-top: -10px;
            left: -87px;
            width: 70px;
            padding-bottom: 2px;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            min-height: 20px;
            overflow: hidden;
            position: absolute;
            background: #ffffff;

            p {
              margin: 0;
              font-size: 12px;
              line-height: 14px;
              text-align: center;
              font-family: 'Poppins';
              display: flex;
              flex-direction: column;
              align-items: center;

              span {
                margin-top: 5px;
                width: 18px;
                height: 18px;
                color: #ffffff;
                font-size: 12px;
                line-height: 18px;
                border-radius: 100%;
                display: block;
                background: #FF0000;
              }
            }


          }
        }

        .itemOther {
          background: rgba(204, 255, 0, 0.3);
        }


        .itemNow {
          border: 2px solid #000000;
          border-left: 6px solid #000000;

          .time {
            left: -93px;
          }
        }
      }
    }

    .commentsCtn {
      height: calc(100vh - 208px);
      overflow: hidden;

      .commentsBox {
        padding: 10px 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .box {
          margin: 0 auto;
          width: 360px;
          margin-bottom: 10px;
          padding: 10px;
          background: #FFFFFF;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
          border: 2px solid transparent;

          .timeAndUser {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
              margin: 0;
            }

            .users {
              display: flex;

              span {
                margin-left: 10px;
                width: 18px;
                height: 18px;
                color: #ffffff;
                font-size: 12px;
                line-height: 18px;
                border-radius: 100%;
                display: block;
                background: #FF0000;

              }
            }

          }

          .imgAndFile {

            .fileBox {
              display: flex;
              align-items: center;
              margin-top: 10px;
              padding-bottom: 5px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.2);

              .file {
                display: flex;
                align-items: center;

                span {
                  margin: 0;
                  margin-left: 20px;
                  width: 24px;
                  height: 24px;
                  display: block;
                  background: #000B1D;
                  border-radius: 4px;
                }

                p {
                  margin: 0;
                  margin-left: 10px;
                }

              }
            }
          }

          .info {
            padding: 6px 20px;
            margin-top: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, .2);

            .source {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .userAndTime {
                display: flex;
                align-items: center;

                >span {
                  width: 18px;
                  height: 18px;
                  font-size: 12px;
                  text-align: center;
                  border-radius: 100%;
                  color: #fff;
                  line-height: 18px;
                }

                p {
                  margin: 0;
                  margin-left: 5px;

                  span {
                    margin-left: 5px;
                    color: rgba(0, 0, 0, .5);
                  }
                }

              }

              .btn {
                display: flex;
                align-items: center;
              }
            }

            .content {
              margin-top: 12px;

              p {
                text-align: left;
              }
            }
          }

          .bottom {
            margin-top: 10px;
            display: flex;
            align-items: center;

            p {
              margin: 0;
              margin-left: 7px;
              cursor: pointer;
            }
          }


        }

        .boxNow {
          border: 2px solid #000000;
        }
      }
    }

    .teamVendorCtn {
      margin: 0 auto;
      width: 360px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 300px;
          min-height: 44px;
          border: 1px solid rgba(0, 0, 0, .5);


          .userSel {
            display: flex;
            align-items: center;


            span {
              width: 18px;
              height: 18px;
              font-size: 12px;
              display: flex;
              color: #ffffff;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
            }

            p {
              margin: 0;
              margin-left: 5px;
            }
          }

          .userTag {
            margin: 2.5px;
            padding: 1px 5px;
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.05);
            border-radius: 22px;

            span {
              width: 18px;
              height: 18px;
              font-size: 12px;
              display: flex;
              color: #ffffff;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
            }

            p {
              margin: 0;
              margin-left: 5px;
              font-size: 12px;
            }

          }



        }

        >span {
          width: 54px;
          height: 44px;
          color: #ffffff;
          text-align: center;
          line-height: 44px;

        }
      }

      .teamVendorBox {
        margin: 50px 0 0 0;
        display: flex;
        width: 360px;
        height: calc(100vh - 340px);
        flex-direction: column;
        overflow: auto;


        .title {
          padding-bottom: 10px;
          text-align: left;
          border-bottom: 1px solid rgba(0, 0, 0, .2);

          span {
            font-size: 14px;
            line-height: 19px;
            font-family: 'Poppins';
            background: #CCFF00B2;
          }
        }

        .box {
          margin-top: 10px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: rgba(0, 0, 0, 0.03);
          border-radius: 4px;

          .post {
            display: flex;
            align-items: center;

            span {
              width: 18px;
              height: 18px;
              color: #ffffff;
              font-size: 12px;
              line-height: 18px;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }


            .info {
              margin-left: 10px;
              display: flex;
              flex-direction: column;
              width: 170px;
              text-align: left;
              overflow: hidden;

              h4 {
                margin: 0;
                font-family: 'Poppins';
              }

              h5 {
                margin: 0;
                font-family: 'Poppins';
                text-decoration-line: underline;
              }

              p {
                margin: 0;
              }
            }

          }
        }

        .otherBox {
          margin-top: 35px;
          display: flex;
          flex-direction: column;

          .title {
            padding: 0 15px;
            height: 26px;
            line-height: 26px;
            overflow: hidden;
            display: flex;
            cursor: pointer;
            align-items: center;
            background: rgba(0, 0, 0, .1);
            border: none;

            img {
              width: 7px;
              height: 12px;
              display: block;
              transition: .2s;
            }

            p {
              margin: 0;
              margin-left: 15px;
            }
          }

          .titleAct {
            img {
              transition: .2s;
              transform: rotate(90deg);
            }

          }

          .completeCtn {
            width: 100%;
            height: 0;
            overflow: hidden;

            h3 {
              margin: 0;
              margin-top: 10px;
              text-align: left;
            }

            .complete {
              margin-top: 10px;
              display: flex;
              align-items: center;

              p {
                margin: 0;
                margin-left: 10px;
              }

            }
          }

          .completeCtnAct {
            height: auto;
          }

        }

      }
    }

    .internalChatCtn {
      margin: 0 auto;
      width: 363px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .box {
        margin-bottom: 10px;
        padding: 10px;
        width: 359px;
        // height: 147px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, .2);
        position: relative;


        .time {
          display: flex;
          align-items: center;


          p {
            margin: 0;
          }

          span {
            margin-right: 10px;
            width: 18px;
            height: 18px;
            display: block;
            background: #FF0000;
            border-radius: 100%;
          }
        }

        .user {
          margin-top: 5px;
          display: flex;
          align-items: center;


          span {
            width: 18px;
            height: 18px;
            color: #ffffff;
            font-size: 12px;
            line-height: 18px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          p {
            margin: 0;
            margin-left: 10px;
          }
        }

        .content {
          margin-top: 5px;
          text-align: left;
          min-height: 60px;

          p {
            margin: 0;
          }
        }

        .bottomText {
          margin: 0;
          margin-top: 5px;
          text-align: right;
        }


      }

      .b1 {
        background: rgba(56, 58, 66, 0.05);
        border: none;
      }
    }


    .duplicatesCtn {
      margin: 0 auto;
      width: 360px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .box {
        margin-bottom: 10px;
        padding: 25px 20px;
        width: 360px;
        height: auto;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, .2);

        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            margin: 0;
          }
        }

        >img {
          margin: 10px auto;
          max-width: 360px;
          width: auto;
          height: auto;
        }

        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            margin: 0;
            font-family: 'Poppins';
          }

          .tag {

            span {
              margin-left: 5px;
              padding: 5px;
              font-size: 14px;
              line-height: 14px;
              font-family: 'Poppins';
              background: #00A3FF1A;
            }
          }
        }

        .button {
          margin-top: 10px;
          display: flex;

          >div {
            padding: 2px 10px;
            display: inline-block;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            cursor: pointer;
          }

        }

      }

    }

  }
}